<div class="resume-section-content">
    <h1 class="mb-0">
        <span class="text-secondary">Rishikesh Pravin </span>
        <span class="text-primary">Yelne</span>
    </h1>
    <div class="subheading mb-5">
        Raleigh, NC 27606 · (984) 944-3569 ·
        <a href="mailto:rishikeshyelne95@gmail.com">rishikeshyelne95@gmail.com</a>
    </div>
    <p class="lead mb-5">
        Greetings! I'm currently pursuing a Masters degree in Computer Science at North Carolina State University, US. <br/> 
        I have an extensive work experience of 5+ years in software development, module design and managing deployment cycles. <br/> 
        I have a keen interest in exploring newer technologies and I'm proficient at C#, .NET core APIs, Java Springboot, Angular, JavaScript 
        and database management systems like MsSQL, PostgreSQL, Neo4j Graph DB, MongoDB.
    </p>
    <div class="social-icons">
        <a title="LinkedIn" class="social-icon" href="https://www.linkedin.com/in/rishikesh-yelne/" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a title="GitHub" class="social-icon" href="https://github.com/rishikesh-yelne" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a title="Resume" class="social-icon" href="https://drive.google.com/file/d/1ktvtgZLsOGyhjcOuGg3Z7ACdRW-5Klgq/view" target="_blank">
            <i class="fa-regular fa-file-pdf"></i>
        </a>
    </div>
</div>
