<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <app-about-me></app-about-me>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <app-experience></app-experience>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <app-education></app-education>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="projects">
        <app-projects></app-projects>
    </section>
</div>