<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                <span class="text-secondary">Rishikesh Pravin </span>
                <span class="text-primary">Yelne</span>
            </h1>
            <div class="subheading mb-5">
                Raleigh, NC 27606 · (984) 944-3569 ·
                <a href="mailto:rishikeshyelne95@gmail.com">rishikeshyelne95@gmail.com</a>
            </div>
            <p class="lead mb-5">
                Greetings! I'm currently pursuing a Masters degree in Computer Science at North Carolina State University, US. <br/> 
                I have an extensive work experience of 5+ years in software development, module design and managing deployment cycles. <br/> 
                I have a keen interest in exploring newer technologies and I'm proficient at C#, .NET core APIs, Java Springboot, Angular, JavaScript 
                and database management systems like MsSQL, PostgreSQL, Neo4j Graph DB, MongoDB.
            </p>
            <div class="social-icons">
                <a title="LinkedIn" class="social-icon" href="https://www.linkedin.com/in/rishikesh-yelne/" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a title="GitHub" class="social-icon" href="https://github.com/rishikesh-yelne" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a title="Resume" class="social-icon" href="/assets/files/Resume.pdf" target="_blank">
                    <i class="fa-regular fa-file-pdf"></i>
                </a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Software Development Engineer Intern</h3>
                    <div class="subheading mb-3">Amazon Web Services, Seattle, US</div>
                    <p>
                        Contributed in the development of an importer tool for the AWS Incident Response team to fetch event data related to ongoing deployments, which would help in quicker resolution of an incident
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">May 2023 - Aug 2023</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Senior Software Engineer</h3>
                    <div class="subheading mb-3">GEP Worldwide, Mumbai, India</div>
                    <p>
                        Led the development of .NET Core APIs, Angular components, and Neo4j Graph DB modeling for a Supplier Performance Management module, driving the capture and evaluation of supplier responses through questionnaires; additionally, assumed a leadership role in the technical team since July 2021.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2020 - July 2022</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Full Stack Developer</h3>
                    <div class="subheading mb-3">Godrej Security Solutions, Mumbai, India</div>
                    <p>
                        Directed comprehensive access-control projects for hundreds of thousands of daily users, integrating software modules with RFID tokens, barcode readers, and biometric scanners. Led requirements gathering, design, development, testing, and deployment across multiple Indian locations, reducing device communication latency by 75% through innovative multi-threaded TCP/IP communication.
                    </p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">July 2017 - September 2020</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">North Carolina State University</h3>
                    <div class="subheading mb-3">Masters of Computer Science</div>
                    <p>Coursework: Design & Analysis of Algorithms, Software Engineering, Object Oriented Design & Development</p>
                    <p>Current GPA: 4.0/4</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2022 - May 2024</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Vidyalankar Institute of Technology, Mumbai University</h3>
                    <div class="subheading mb-3">Bachelor of Engineering - Computer Engineering</div>
                    <p>Coursework: Object Oriented Programming Methodology, Analysis of Algorithms, Data Structures, Machine Learning</p>
                    <p>GPA: 9.2/10</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2013 - May 2017</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-5">Projects</h2>
        </div>        
    </section>
</div>