<div class="resume-section-content">
    <h2 class="mb-5">Projects</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">WolfMedia</h3>
            <div class="subheading mb-3">Database Management System Project, NCSU</div>
            <p>
                Played a key role in implementing a Slack Bot that gamifies tasks, boosting user motivation to complete assignments. Integrated Slack API in Flask to enable commands for task creation, marking as done, progress tracking, and more. Thoroughly documented bot commands on GitHub, including installation steps and future scope.
            </p>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">SlackPoint - gamified Slack Bot</h3>
            <div class="subheading mb-3">Software Engineering Project, NCSU</div>
            <p>
                Architected the database model for WolfMedia, a media streaming service, encompassing artists, record labels, songs, podcasts, hosts, payments, and subscriptions. Engineered a Spring Boot application with endpoints for seamless management of the streaming service. Streamlined setup through Dockerization and enhanced accessibility with a Swagger interface for the endpoints.
            </p>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Travel Emergency Response System</h3>
            <div class="subheading mb-3">BE Final Year Project</div>
            <p>
                Crafted an Android application facilitating users stranded by vehicular breakdowns to locate and contact nearby garages or mechanics. Leveraged Google Maps to display nearby garages within a two-mile radius based on the user's location. Implemented Firebase Cloud Messaging for seamless inter-device communication through push notifications.
            </p>
        </div>
    </div>
</div>
