<div class="resume-section-content">
    <h2 class="mb-5">Education</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">North Carolina State University</h3>
            <div class="subheading mb-3">Masters of Computer Science</div>
            <p>Coursework: Design & Analysis of Algorithms, Software Engineering, Object Oriented Design & Development</p>
            <p>Current GPA: 4.0/4</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">August 2022 - May 2024</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
            <h3 class="mb-0">Vidyalankar Institute of Technology, Mumbai University</h3>
            <div class="subheading mb-3">Bachelor of Engineering - Computer Engineering</div>
            <p>Coursework: Object Oriented Programming Methodology, Analysis of Algorithms, Data Structures, Machine Learning</p>
            <p>GPA: 9.2/10</p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">September 2013 - May 2017</span></div>
    </div>
</div>
