<div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Software Development Engineer</h3>
            <div class="subheading mb-3">Amazon Web Services, Seattle, US</div>
            <p>
                Working in the AWS Application Recovery Controller team, building services that handle zonal shifts on impaired Availability Zones.
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">June 2024 - Present</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Software Development Engineer Intern</h3>
            <div class="subheading mb-3">Amazon Web Services, Seattle, US</div>
            <p>
                Contributed in the development of an importer tool for the AWS Incident Response team to fetch event data related to ongoing deployments, which would help in quicker resolution of an incident
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">May 2023 - Aug 2023</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Senior Software Engineer</h3>
            <div class="subheading mb-3">GEP Worldwide, Mumbai, India</div>
            <p>
                Led the development of .NET Core APIs, Angular components, and Neo4j Graph DB modeling for a Supplier Performance Management module, driving the capture and evaluation of supplier responses through questionnaires; additionally, assumed a leadership role in the technical team since July 2021.
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">September 2020 - July 2022</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
            <h3 class="mb-0">Full Stack Developer</h3>
            <div class="subheading mb-3">Godrej Security Solutions, Mumbai, India</div>
            <p>
                Directed comprehensive access-control projects for hundreds of thousands of daily users, integrating software modules with RFID tokens, barcode readers, and biometric scanners. Led requirements gathering, design, development, testing, and deployment across multiple Indian locations, reducing device communication latency by 75% through innovative multi-threaded TCP/IP communication.
            </p>
        </div>
        <div class="flex-shrink-0"><span class="text-primary">July 2017 - September 2020</span></div>
    </div>
</div>
